# Whitelist ignore
*
!*/

# allowed file/dir
!/.gitignore
!/README*.md
# Input file
!/required_cuts.xlsx
!/reusable_scrap.csv
# Python program
!/read_xlsx.py
!/cutting_optimizer_cli*.py
!/result_sheet.py
!/cutting_optimizer_streamlit_v*.py
# Sample Output file
!/result/required_cuts/*

# disallowed
.DS_Store
Thumbs.db