# Whitelist ignore
*
!*/

# allowed file/dir
!/.gitignore
!/README*.md
# Input file
!/required_cuts.xlsx
# Python program
!/read_xlsx.py
!/cutting_optimizer_ver2.py
!/result_sheet.py
!/cutting_optimizer_streamlit.py
# Sample Output file
!/result/required_cuts/*

# disallowed
.DS_Store
Thumbs.db